@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>Başlık</th>
        <th>Başlık</th>
        <th>Başlık</th>
        <th>Başlık</th>
    </tr>
    <tr>
        <th>yap</th>
        <th>yap</th>
        <th>yap</th>
        <th>yap</th>
    </tr>
</table>