@model List<EntityLayer.Concrete.WriterMessage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";

    var color = "";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gelen Mesajlar</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Konu</th>
                            <th>Gönderen</th>
                            <th>Tarih</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                           @*  if (item.Status.Contains("Yeni"))
                            {
                                color = "badge badge-danger";
                            }
                            if (item.Status.Contains("Aktif"))
                            {
                                color = "badge badge-info";
                            }
                            if (item.Status.Contains("Bitti"))
                            {
                                color = "badge badge-success";
                            }
                            if (item.Status.Contains("Yapılmadı"))
                            {
                                color = "badge badge-warning";
                            } *@

                            <tr>
                                <th>@item.WriterId</th>
                                <td>@item.Subject</td>
                                <td>@item.Sender</td>
                                <td>@(((DateTime)@item.Date).ToString("dd-MMM-yyyy"))</td>
                                <td><a href="/Writer/Default/AnnouncementDetails/@item.WriterId" class="btn btn-outline-primary">Mesajı Gör</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>